<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit car parts </title>
</head>
<body>
<form action="/Cars/<%= car._id %>?_method=PUT" method="POST">
  <input name="make" value="<%= car.make %>" />
  <input name="model" value="<%= car.model %>" />
  <input name="year" value="<%= car.year %>" />
  <input name="image" value="<%= car.image %>" />
  <button>Update</button>
</form>

</body>
</html>

<h1>Edit Car</h1>

